<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sharedfolder.css">
    <title>SharedFolder</title>
</head>

<body style="background-color: #232327;">
    <!-- include nav bar -->
    <%- include('./partials/side_bar'); %>
        <div class="wrapper">
            <div class="container">
                <div class="upload-button">
                    <button id="upload-model-btn">Upload</button>
                </div>
                <div class="model-container">
                    <div class="model-content">
                        <span class="close">&times;</span>
                        <div id="upload-content">
                            <form action="/sharedFolder/upload" class="upload-form" method="post"
                                enctype="multipart/form-data">
                                <i class="bi bi-cloud-arrow-up-fill"></i>
                                <p>Drag & Drop to Upload File <br> OR</p>
                                <input type="file" name="files" id="drag-drop" onchange="handleFiles(this.files)" multiple required>
                                <label class="slc-btn" for="drag-drop" id="drag-drop-lab">Browse Files</label>
                                
                            </form>
                            <div class="show-files"></div>
                            <input type="submit" value="Upload" id="upload-sub" onclick="uploadFile()">
                        </div>
                    </div>
                </div>
                <script>
                    
                    const file_array = []
                    // js for drag and drop file upload
                    let dropArea = document.getElementById('upload-content');

                    // prevent default drag behaviors
                    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                        dropArea.addEventListener(eventName, preventDefaults, false)
                        document.body.addEventListener(eventName, preventDefaults, false)
                    });

                    dropArea.addEventListener('drop', handleDrop, false);

                    function preventDefaults(e){
                        e.preventDefault()
                        e.stopPropagation()
                    }
                    
                    function handleDrop(e){
                        var dt = e.dataTransfer
                        var files = dt.files
                        handleFiles(files)
                    }
                    
                    function handleFiles(files){
                        var files = [...files]
                        console.log(files)
                        files.forEach(file => {file_array.push(file)})
                        files.forEach(previewFile)
                    }

                    function previewFile(file){
                        $('.show-files').append(`<p id='file'>${file.name}</p>`)
                    }

                    // upload files
                    function uploadFile() {
                        console.log(file_array);
                        // var url = "http://localhost:8080/sharedFolder/upload"
                        // var xhr = new XMLHttpRequest()
                        // var formData = new FormData()
                        // xhr.open("POST", url, true)
                        // xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
                        // xhr.onreadystatechange = () => {
                        //     if (xhr.readyState === 4 && xhr.status === 200) {
                        //         // console.log(xhr.responseText);
                        //     }
                        // }
                        // formData.append('file', file_array);
                        // xhr.send(formData);
                        var formData = new FormData();
                        formData.append('file', file_array);
                        console.log(formData)
                        $.ajax({
                            url : "http://localhost:8080/sharedFolder/upload",
                            data : formData,
                            processData : false,
                            contentType : false,
                            type : 'POST'
                        });
                    }

                    // js for modals
                    let modal = $('.model-container');
                    let btn = $('#upload-model-btn');
                    let close_btn = $('.close');

                    // make btn open model content
                    btn.click(function () {
                        console.log('hi')
                        modal.show();
                    });
                    // make close btn close model content
                    close_btn.click(function () {
                        modal.hide();
                    });
                    // make it so user click outside of box to close
                    window.onclick = function () {
                        if ($(event.target).is(modal)) {
                            modal.hide()
                        }
                    }


                </script>
                <table class="folder">
                    <% if (content) {%>
                        <tr class="file-header">
                            <th>Filename</th>
                            <th>Type</th>
                            <th>Size</th>
                            <th>Data Modified</th>
                            <th>Download</th>
                        </tr>
                        <% for (const obj in content) {%>
                            <tr class="file">
                                <% for (const key in content[obj]) {%>
                                    <td class="file-content">
                                        <% if (dir) {%>
                                            <a href="/sharedFolder?path=<%= content[obj]['name'] %>&dir=<%= dir %>">
                                                <%= content[obj][key] %>
                                            </a>
                                            <% } else {%>
                                                <a href="/sharedFolder?path=<%= content[obj]['name'] %>">
                                                    <%= content[obj][key] %>
                                                </a>
                                                <% } %>
                                    </td>
                                    <% } %>
                                        <td class="file-content">
                                            <div class="DbtnBox">
                                                <% if (dir) {%>
                                                    <a href="/sharedFolder/download?path=<%= content[obj]['name'] %>&dir=<%= dir %>"
                                                        class="Dbtn">
                                                        <div class="btn-icon"><i class="bi bi-box-arrow-down"></i></div>
                                                        <span>Download</span>
                                                    </a>
                                                    <% } else {%>
                                                        <a href="/sharedFolder/download?path=<%= content[obj]['name'] %>"
                                                            class="Dbtn">
                                                            <div class="btn-icon"><i class="bi bi-box-arrow-down"></i>
                                                            </div><span>Download</span>
                                                        </a>
                                                        <% } %>
                                            </div>
                                        </td>
                            </tr>
                            <% } %>
                                <% } %>
                </table>
            </div>
        </div>

</body>

</html>